.h2-title {
    color: #000;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 108px;
    /* 150% */
}

.advice {
    color: #CCC;
    font-family: Space Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

::placeholder {
    color: #CCC;
    font-family: Space Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.label-form {
    color: #000;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.btn-signup {
    border-radius: 4px;
    border: 1px solid #284A5E;
    background: #27485D;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.10);
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    margin: 53px 0 88px 0;
}

.span-service-policy {
    margin: 34px 0 57px 0;
    color: #3F3D56;
    font-family: Open Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#span-green {
    color: #38D39F;
    font-family: Open Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.have-account {
    color: #C4C4C4;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.have-account a {
    color: #476D73;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
}

.patterns-geometricos {
    width: 100%;
    height: 529px;
    flex-shrink: 0;
    background-image: url('./patterns-geometricos-13.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.undraw-invest {
    width: 90%;
    height: 355.651px;
    flex-shrink: 0;
    background-image: url('./undraw-invest-88-iw.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.right-row {
    background: linear-gradient(162deg, #517879 4.83%, #1E3E57 103.44%);
}

.createivity {
    width: 431px;
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    /* 150% */
    /* opacity: 0.1; */
    z-index: 1;
    margin-top: 160px;
}

.einstein {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}