.h2-title {
    color: #38D39F;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.btn-signup {
    border-radius: 3px;
    background: #38D39F;
    box-shadow: 0px 4px 4px 0px rgba(56, 211, 159, 0.19);
    color: #FFF;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 18px
}

.span-service-policy {
    margin: 34px 0 57px 0;
    color: #3F3D56;
    font-family: Open Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#span-green {
    color: #38D39F;
    font-family: Open Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.have-account {
    color: #3F3D56;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.have-account a {
    color: #38D39F;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.patterns-geometricos {
    width: 100%;
    height: 529px;
    flex-shrink: 0;
    background-image: url('../img/login_form_1_page/patterns-geometricos-13.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.undraw-invest {
    width: 90%;
    height: 355.651px;
    flex-shrink: 0;
    background-image: url('../img/login_form_1_page/undraw-invest-88-iw.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}